<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New table</title>

</head>
<body>
    <div>
              <form action="/new" method="POST" class="ninja">
                    {% csrf_token %}
                    <b class="boomer">{{form1}}</b>
                    <input type="submit" name='create time field'>
                </form>
            </div>
</body>
</html>